<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoweLanCaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoweLanCaster.Properties.Settings>
            <setting name="LastRokuIp" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredEncoder" serializeAs="String">
                <value>CPU (libx264)</value>
            </setting>
            <setting name="PreferredBitrate" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="PreferredFps" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PreferredAudio" serializeAs="String">
                <value>System Audio (Default Output)</value>
            </setting>
            <setting name="IncludePcAudio" serializeAs="String">
                <value>True</value>
            </setting>
        </DoweLanCaster.Properties.Settings>
    </userSettings>
</configuration>