<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>6</ApplicationRevision>
    <ApplicationVersion>0.9.5.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://mrjohndowe.com/Dowe_LanCaster/download/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>EFC1F6764C857E11415EA2A7D91F201B6067CB97</ManifestCertificateThumbprint>
    <ManifestTimestampUrl>http://timestamp.digicert.com</ManifestTimestampUrl>
    <MapFileExtensions>True</MapFileExtensions>
    <MinimumRequiredVersion>0.0.0.1</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>C:\xampp\htdocs\Dowe_LanCaster\download\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ErrorReportUrl>https://github.com/mrjohndowe/Dowe_LanCaster/issues/new</ErrorReportUrl>
    <ProductName>Dowe LanCaster</ProductName>
    <PublisherName>Dowe Technologies LLC</PublisherName>
    <SupportUrl>https://github.com/mrjohndowe/Dowe_LanCaster/issues/new</SupportUrl>
    <TargetCulture>en</TargetCulture>
    <TrustUrlParameters>False</TrustUrlParameters>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.30 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.30 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
  <ItemGroup>
    <PublishFile Include="DoweLanCaster.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>